#app{
    #bg{
        width: 200px;
        height: 200px;
        background-image: url('../../src/images/sword.png');
    }

    .index{
        color: #f40;
        transform: translate(0,0);
    }
}